body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: beige;
}

.loading-bar{
    width: 500px;
    height: 3em;
    position: relative;
    justify-content: center;
    color: white;
    border-radius: 1.5em;
    align-items: center;
    background-color: brown;
    
}

.loading-bar::before{
    content: attr(data-label);
    left: .5em;
    top: .5em;
    position: absolute;
    display: flex;
    align-items: center;
    width: calc(var(--width, 0) * 1%);
    min-width: 2rem;
    border-radius: 1em;
    max-width: calc(100% - 1em);
    padding: 1em;
    bottom: .5em;
    background-color: orange;
    box-sizing: border-box;

}


img{
    display: flex;
    align-items: center;
}

.alignment1{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 200px;

}

.alignment2{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    
}