body{
    margin: 0;
    padding: 0;
}


.loading-bar{
    width: 500px;
    height: 3em;
    background-color: brown;
    border-radius: 1.5em;
    color: white;
    position: relative;
}


.loading-bar::before{
    content: attr(data-label);
    align-items: center;
    position: absolute;
    display: flex;
    left: .5em;
    top: .5em;
    bottom: .5em;
    width: calc(var(--width, 0) * 1%);
    min-width: 2rem;
    background-color: orange;
    border-radius: 1em;
    max-width: calc(100% - 1em);
    padding: 1em;
    box-sizing: border-box;
}

.img{
    z-index: 1;

}