html, body{
    cursor: url("cursorr.png") 0 0, auto;
}

body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}


.loading-bar{
    width: 500px;
    height: 3em;
    background-color: brown;
    border-radius: 1.5em;
    color: white;
    position: relative;
    align-items: center;
    justify-content: center;
}


.loading-bar::before{
    content: attr(data-label);
    align-items: center;
    position: absolute;
    display: flex;
    left: .5em;
    top: .5em;
    bottom: .5em;
    width: calc(var(--width, 0) * 1%);
    min-width: 2rem;
    background-color: orange;
    border-radius: 1em;
    max-width: calc(100% - 1em);
    padding: 1em;
    box-sizing: border-box;

}

.img1{
    z-index: 1;
    display: block;
    margin: 0;

}

.img{
  display: flex;
  align-items: center;
  gap: 0;
}

.page-align1{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

   

}

.page-align2{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    
   
}

p{
    text-align: center;
    font-size: 90px;
    font-family: "Covered By Your Grace", cursive;
    padding: 0;
}