body{
    background-color: rgb(232, 131, 95);
}

html, body{
    cursor: url('cursor.png'), auto;
}


.FOOD{
    align-items: center;
    gap: 25px;
    vertical-align: middle;
    display: inline-flex;
}

marquee{
    behavior: scroll;
    direction: left;
    
}

img{
    border: solid 4px black;
    border-radius: 13px;
    background-color: beige;
}

figcaption{
    font-family: Comic Sans MS;
    text-align: center;
}

.DRINKS{
    align-items: center;
    gap: 17px;
    vertical-align: middle;
    display: inline-flex;
}

.CAKES{
    align-items: center;
    gap: 17px;
    vertical-align: center;
    display: inline-flex;
}

figure{
    margin: 0;
}

figure img{
    display: block;
}

.other{
    align-items: center;
    gap: 17px;
    vertical-align: center;
    display: inline-flex;
}