body{
    background-color: rgb(232, 131, 95);
}

html, body{
    cursor: url("cursorr.png") 0 0, auto;
}

.FOOD{
    align-items: center;
    gap: 25px;
    vertical-align: middle;
    display: inline-flex;
}

marquee{
    behavior: scroll;
    direction: left;
    
}

img{
    border: solid 4px black;
    border-radius: 13px;
    background-color: beige;
}

figcaption{
    font-family: Comic Sans MS;
    text-align: center;
}

.DRINKS{
    align-items: center;
    gap: 17px;
    vertical-align: middle;
    display: inline-flex;
}

.CAKES{
    align-items: center;
    gap: 17px;
    vertical-align: center;
    display: inline-flex;
}

figure{
    margin: 0;
}

figure img{
    display: block;
}

.other{
    align-items: center;
    gap: 17px;
    vertical-align: center;
    display: inline-flex;
}

button{
    border-radius: 20px;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: 0.3s ease;
    font-size: 18px;
    background-color: rgb(232, 143, 132);

}

button:hover{
    transform: scale(1.2) rotate(-3deg);
    background-color: rgba(159, 98, 17, 0.793);
    cursor: url("cursorr.png") 0 0, auto;

}