body{
    background-color: rgb(253, 132, 132);
}

h1{
    font-family: "Reenie Beanie", cursive;
}

h2{
    font-family:  "Comic Relief", system-ui;
}

h3{
    font-family: "Ubuntu Condensed", sans-serif;
}

html, body{
    cursor: url("cursorr.png") 0 0, auto;
}

button{
    border-radius: 18px;
    padding: 8px 16px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: 0.3s ease;
    font-size: 15px;
    background-color: rgb(238, 119, 45);

}

button:hover{
    transform: scale(0.8) rotate(-3deg);
    background-color: rgba(244, 169, 72, 0.793);
    cursor: url("cursorr.png") 0 0, auto;

}