body{
    background-color: rgb(253, 132, 132);
}

h1{
    font-family: "Reenie Beanie", cursive;
}

h2{
    font-family:  "Comic Relief", system-ui;
}

h3{
    font-family: "Ubuntu Condensed", sans-serif;
}

html, body{
    cursor: url("cursorr.png") 0 0, auto;
}